@import './auth-forms.css';

.auth-signup-final__form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.auth-signup-final__input-row {
  display: flex;
  gap: 0.75rem;
}

.auth-signup-final__input-row > .auth-signup-final__input {
  flex: 1;
  min-width: 0;
}

@media (max-width: theme(--breakpoint-sm)) {
  .auth-signup-final__input-row {
    flex-direction: column;
  }
}

.auth-signup-final__input {
  @apply text-input--content;
  text-align: left;
}
