@import '../../../components/AuthForms/auth-forms.css';

.auth-reset-password-final__try-again {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: var(--global-link-blue);
  font: inherit;
  font-size: var(--font-size-sm);
  cursor: pointer;
  @apply wiggle-link;
}
