@import 'tailwindcss';

.page-layout {
  min-height: 100vh;
  background: white url('../../assets/temp/bg-transparent-cream-paper.png');
  background-size: 200px 200px;
  color: var(--global-text);
}

.layout__main {
  position: relative;
  z-index: 1;
  background: white url('../../assets/temp/bg-transparent-cream-paper.png');
  background-size: 200px 200px;
  padding-top: 1rem;
}

/* home-only: hero header + entry animations */
.layout-is-home {
  --home-header-extra-height: calc(var(--home-hero-height) - var(--global-header-height));

  .layout-header {
    transition: transform 1.2s cubic-bezier(.3,.8,.4,.9);
    transform: translateY(0);
  }
  .layout-header__entry-logo-container {
    opacity: 1;
    transition: all 0.6s ease-out;
  }
  .layout-header__container {
    display: none;
  }
  .layout__main {
    border-top: 1.5px solid white;
    z-index: 201;
  }
  .interests-section,
  .events-section,
  .why-socially-section,
  .about-section,
  .layout-footer {
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease-out;
  }

  &.layout--entry-revealed1 {
    .layout-header {
      transform: translateY(calc(var(--home-header-extra-height) * -1 - var(--global-header-height) + 4px));
    }
    .layout-header__entry-logo-container {
      opacity: 0;
      filter: blur(12px);
    }
    .layout-header__entry-logo-image {
      animation: none;
    }
    .interests-section,
    .events-section,
    .why-socially-section,
    .about-section,
    .layout-footer {
      display: block;
    }
  }

  &.layout--entry-revealed2 {
    .layout-header {
      transition: transform 0.3s ease-out;
    }
  
    .layout-header__container {
      display: flex;
    }
    .layout-header__entry-logo-container {
      display: none;
    }
  
    .layout__main {
      z-index: 100;
    }
  
    .interests-section,
    .events-section,
    .why-socially-section,
    .about-section,
    .layout-footer {
      opacity: 1;
    }
  }

  &.layout--show-header {
    .layout-header {
      transform: translateY(calc(var(--home-header-extra-height) * -1));
    }
  }
}

.text--full-color {
  color: black;
}
