@import 'tailwindcss';
@import '../../../../globals.css';

.home-profile-popular-interests {
  display: flex;
  flex-direction: column;
}

.home-profile-popular-interests__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.25rem 1.5rem;
  margin: 0 1rem;
  padding: 0;
  list-style: none;
}

.home-profile-popular-interests__item {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.home-profile-popular-interests__link {
  min-width: 0;
  color: var(--global-link-blue);
  /* vertical-align: baseline; */
  @apply courier-inline;
  font-size: var(--font-size-lg);
  @apply wiggle-link;
}

.home-profile-popular-interests__new-followers {
  color: var(--global-text-light);
  @apply courier-inline;
  font-size: var(--font-size-sm);
}

@media (max-width: theme(--breakpoint-lg)) {
  .home-profile-popular-interests__list {
    grid-template-columns: 1fr;
  }
}
