@import 'tailwindcss';
@import '../../../../globals.css';

.event-attend-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 1px 2px var(--medium-shadow); /* same as card-shadow */
  margin: 1.5rem 0;
  @apply rounded-corners;
}

.event-attend-card--fixed-bar {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: var(--z-index-fixed-bar);
  border-radius: 0;
  border-top: 1px solid var(--light-shadow);
  box-shadow: 0 -1px 3px var(--light-shadow); /* same as header-shadow, on top */
  transform: translateY(100%);
  transition: transform 0.3s ease-out;

  .event-attend-card__body {
    padding: 0.875rem 0rem;
  }

  &.event-attend-card--fixed-bar--visible {
    transform: translateY(0);
  }
}

.event-attend-card__header {
  background: var(--global-text-bg);
  padding: 0.5rem 1rem;
  color: var(--global-text-muted);
  @apply courier-inline;
  font-size: var(--font-size-sm);
}

.event-attend-card__body {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
}

.event-attend-card__left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 0;
}

.event-attend-card__attendees {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
}

.event-attend-card__avatars {
  display: flex;
  flex-shrink: 0;
}

.event-attend-card__avatar {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  background-color: var(--global-text-bg);
  border: 1px solid white;
  border-radius: 100%;
  display: block;

  &:not(:first-child) {
    margin-left: -0.5rem;
  }
}

.event-attend-card__attendees-label {
  color: var(--global-text-muted);
  font-size: var(--font-size-md);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-attend-card__price {
  flex-shrink: 0;
  color: var(--global-text-muted);
  @apply courier-inline;  
}

.event-attend-card__btn {
  flex-shrink: 0;
  padding: 0.5rem 1.5rem;
  @apply btn-purple-white;
}

@media (max-width: theme(--breakpoint-lg)) {
  .event-attend-card:not(.event-attend-card--fixed-bar) {
    .event-attend-card__body {
      flex-direction: column;
      align-items: stretch;
    }

    .event-attend-card__btn {
      width: 100%;
    }
  }
}

@media (max-width: theme(--breakpoint-md)) {
  .event-attend-card--fixed-bar {
    transform: translateY(0);
  }
}

@media (max-width: theme(--breakpoint-sm)) {
  .event-attend-card__price {
    display: none;
  }

  .event-attend-card__attendees {
    justify-content: center;
  }

  .event-attend-card--fixed-bar {
    .event-attend-card__body {
      flex-direction: column;
      align-items: stretch;
    }

    .event-attend-card__btn {
      width: 100%;
    }
  }
}
