@import 'tailwindcss';
@import '../../globals.css';

.section-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
  /* margin-top: 1rem; */
  padding: 1rem 0 1.25rem;
}

.section-title__title {
  @apply heading-h2;
}

.section-title__more {
  display: flex;
  flex-shrink: 0;
  color: var(--global-text-muted);
  font-size: var(--font-size-md);
  @apply courier-inline;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--global-text);
    /* animation: hover-wiggle 1.2s infinite; */
  }
}

.section-title__more--footer {
  display: none;
  padding: 0.5rem 0;
  font-size: var(--font-size-lg);
  justify-content: center;
}

@media (max-width: theme(--breakpoint-sm)) {
  .section-title {
    justify-content: center;
  }

  .section-title__title {
    width: 100%;
    text-align: center;
  }

  .section-title__more--inline {
    display: none;
  }

  .section-title__more--footer {
    display: flex;
  }
}
