@import 'tailwindcss';
@import '../../../../globals.css';

.followers-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.followers-section__title {
  @apply heading-h3;
  line-height: 1.4;
}
