@import 'tailwindcss';
@import '../../globals.css';

.interest-one-page {
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}

.interest-one-page__events {
  display: block;
  align-items: stretch;
  padding: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0; */
}

.interest-one-page__events-list {
  padding: 0.25rem 0 1rem;
}

.interest-one-page__event-item {
  position: relative;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;

  &:last-child {
    padding-bottom: 0.5rem;
  }

  .event-card-horizontal {
    margin-left: 0.25rem;
  }
}

.interest-one-page__event-item-line {
  position: absolute;
  top: 1rem;
  left: 0.25rem;
  bottom: 0;
  border-left: 0.125rem dashed var(--home-section-border);
}

.interest-one-page__event-item-timeline {
  position: relative;
  margin-bottom: 0.875rem;
  transform: translateY(-0.125rem);
}

.interest-one-page__event-item-date {
  color: var(--global-text);
  font-family: 'Courier Prime', monospace;
  font-size: var(--font-size-sm);
  font-weight: 500;
  padding-right: 0.5rem;
}

.interest-one-page__event-item-time {
  color: var(--global-text-muted);
  font-family: 'Courier Prime', monospace;
  font-size: var(--font-size-sm);
}

.interest-one-page__event-item-dot-wrapper {
  position: absolute;
  left: -1.4375rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interest-one-page__event-item-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--global-text-light);
  border-radius: 100%;
}

.interest-one-page__events-empty,
.communities-section__empty {
  margin: 3rem 0 1rem;
  color: var(--global-text-light);
  font-size: var(--font-size-md);
  line-height: 1.5;
  text-align: center;
}

.interest-one-page__suggest,
.communities-section__create {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.interest-one-page__suggest-btn,
.communities-section__create-btn {
  padding: 0.5rem 1rem;
  @apply btn-white-purple;
}

.interest-one-page__second-section {
  margin-top: 1.75rem;
}

.interest-one-page__divider {
  @apply page-divider;
  margin-top: 0.75rem;
}

.interest-one-page__divider--hidden {
  @apply page-divider;
  margin: 0.75rem 0 1rem;
  display: none;
}

.interest-one-page__aside {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

@media (max-width: theme(--breakpoint-md)) {
  .interest-one-page__divider--hidden {
    display: block;
  }
}
