@import 'tailwindcss';
@import '../../../../globals.css';

.event-description {
  padding-bottom: 2rem;

  .section-header {
    padding-top: 0rem;
    /* padding: 1.5rem 0 1rem; */
  }
}

.event-description__title {
  @apply heading-h3;
  /* color: var(--global-text-heading); */
  margin: 0 0 1rem;
}

.event-description__content {
  margin: 0 0.75rem;
  font-size: var(--font-size-md);
  color: var(--global-text);
  line-height: 1.5;
  word-wrap: break-word;

  h1, h2, h3, p {
    margin-bottom: 1em;
  }

  a {
    color: var(--global-link-blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
