@import 'tailwindcss';
@import '../../../../globals.css';

.community-intro-panel {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem 0rem 0;
}

.community-intro-panel__back {
  color: var(--global-text-muted);
  font-family: 'Courier Prime', monospace;
  font-size: var(--font-size-md);
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--global-text);
  }
}

.community-intro-panel__title {
  @apply heading-h1;
  line-height: 1.3;
}

.community-intro-panel__attributes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.community-intro-panel__attribute {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--global-text-muted);
  font-size: var(--font-size-md);
  line-height: 1.5;
}

.community-intro-panel__icon {
  flex-shrink: 0;
  width: 1.125rem;
  height: 1.125rem;
}

.community-intro-panel__icon--rating {
  color: var(--color-yellow-500);
}

.community-intro-panel__join-btn {
  display: none;
  align-self: flex-start;
  margin-top: 0.25rem;
  @apply btn-purple-white;
}

/* @media (max-width: theme(--breakpoint-lg)) {
  .community-intro-panel__title {
    font-size: 2rem;
  }
} */

@media (max-width: theme(--breakpoint-md)) {
  .community-intro-panel__title {
    font-size: 1.75rem;
  }

  .community-intro-panel__join-btn {
    display: flex;
  }
}

@media (max-width: theme(--breakpoint-sm)) {
  /* .community-intro-panel {
    align-items: center;
  } */
  .community-intro-panel__title {
    text-align: center;
  }
  .community-intro-panel__attributes {
    align-items: center;
  }
  .community-intro-panel__join-btn {
    display: block;
    align-self: normal;
  }
}