@import 'tailwindcss';
@import '../../../globals.css';

.layout-footer {
  position: relative;
  z-index: theme(--z-index-page-layout-footer);
  padding-top: 4rem;
}

.layout-footer__divider {
  @apply page-divider;
}

.layout-footer__text {
  margin: 0;
  padding: 1rem 0 1rem;
  color: var(--global-text-muted);
  font-size: var(--font-size-sm);
  text-align: center;
}
