@import 'tailwindcss';
@import '../../globals.css';

.event-one-page {
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;

  --event-one-page-aside-sticky-top: 1.25rem;
}

.event-one-page__aside {
  min-height: 100%;
}

.event-one-page__aside-sticky {
  position: sticky;
  margin-top: -2rem;
  top: var(--event-one-page-aside-sticky-top);
  z-index: 40;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.event-one-page__aside-title {
  margin: 0 0 2rem;
  @apply heading-h2;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event-one-page__aside-title--visible {
  opacity: 1;
  transform: translateY(0);
}

.event-one-page__stacked-image {
  display: none;
}

.event-one-page__main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event-one-page__attend-card {
  position: sticky;
  /* top: 0; */
  top: -2.1875rem; /* event attend card header height */
  z-index: 10;
  margin: 0;
  transition: margin 0.3s ease-in-out;
}

.event-one-page__attend-card--expanded {
  margin: 0 -1rem;
}


/* .event-one-page .columns-layout--stacked .event-one-page__hero .event-intro {
  flex: 1;
  min-width: 0;
}

.event-one-page .columns-layout--stacked .event-intro__title {
  text-align: left;
} */

@media (max-width: theme(--breakpoint-md)) {
  .event-one-page {
    padding-bottom: 5rem;
  }

  .event-one-page__aside-image {
    display: none;
  }

  .event-one-page__aside-sticky {
    position: static;
  }

  .event-one-page__aside-title {
    display: none;
  }

  .event-one-page__stacked-image {
    display: block;
    flex: 0 0 35%;
    min-width: 180px;
  }

  .event-one-page__hero {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
  }

  .event-one-page__attend-card {
    display: none;
  }
}

@media (max-width: theme(--breakpoint-sm)) {
  .event-one-page__hero {
    flex-direction: column;
    align-items: stretch;
  }

  .event-one-page__stacked-image {
    flex: none;
    width: 100%;
    max-width: 180px;
    margin: 0 auto;
  }

  .event-intro__title {
    text-align: center;
  }
}

