@import 'tailwindcss';
@import '../../../../globals.css';

.member-communities {
  padding-bottom: 2rem;

  .section-header {
    padding-top: 0;
  }
}

.member-communities__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0 0.75rem;
}

.member-communities__item {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  /* align-items: flex-start; */
}

.member-communities__engagement {
  color: var(--global-text-light);
  @apply courier-inline;
  /* font-family: 'Courier Prime', monospace; */
  font-size: var(--font-size-sm);
  /* line-height: 1.25; */
  text-align: right;
  min-width: 8rem;
}
