@import 'tailwindcss';
@import '../../../../globals.css';

.home-profile-new-members {
  display: flex;
  flex-direction: column;
}

.home-profile-new-members__summary {
  margin: 0 0 1.5rem;
  color: var(--global-text-muted);
  font-size: var(--font-size-sm);
  line-height: 1.5;
}

.home-profile-new-members__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-profile-new-members__item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0;
}

.home-profile-new-members__avatar-link {
  display: flex;
  flex: 1;
  gap: 0.75rem;
  min-width: 0;
  color: inherit;

  @apply clickable-text;
}

.home-profile-new-members__avatar {
  display: block;
  margin-top: 0.25rem;
  flex-shrink: 0;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 100%;
  object-fit: cover;
}

.home-profile-new-members__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 0;
}

.home-profile-new-members__community {
  color: var(--global-text-muted);
  line-height: 1.4;
}

.home-profile-new-members__name {
  color: var(--global-text);
  font-weight: bold;
}

.home-profile-new-members__community-name {
  color: var(--global-text);
}

.home-profile-new-members__details {
  margin: 0;
  min-width: 0;
  font-size: var(--font-size-sm);
  line-height: 1.7;
}

.home-profile-new-members__detail-block {
  max-width: 100%;
  min-width: 0;
  @apply text-ellipsis;
  /* -webkit-box-orient: vertical;
  display: -webkit-box; */
}

.home-profile-new-members__detail-block:nth-child(-n+2) {
  display: -webkit-inline-box;
  vertical-align: top;
}

.home-profile-new-members__detail-block:nth-child(n+3) {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.home-profile-new-members__detail-block:nth-child(2) .home-profile-new-members__question::before {
  content: ', ';
}

.home-profile-new-members__question {
  color: var(--global-text-light);
}

.home-profile-new-members__response {
  color: var(--global-text);
}

.home-profile-new-members__welcome-input-wrapper {
  margin-top: 0.25rem;
  margin-left: calc(2.75rem + 0.75rem);
}

.home-profile-new-members__welcome-input {
  width: 100%;
  max-width: 20rem;
  @apply text-input;
  font-family: inherit;
  padding: 0.5rem;
  text-align: left;
}

@media (max-width: theme(--breakpoint-sm)) {
  .home-profile-new-members__detail-block:nth-child(-n+2) {
    display: -webkit-box;
    line-height: 1.5;
  }

  .home-profile-new-members__detail-block:nth-child(2) .home-profile-new-members__question::before {
    content: none;
  }
}

@media (max-width: theme(--breakpoint-md)) {
  .home-profile-new-members__welcome-input {
    max-width: none;
  }
}