@import 'tailwindcss';

.section-container {
  position: relative;
}
.section-container__title {
  display: flex;
  align-items: baseline;
  padding-right: 1rem;
  padding-bottom: 1rem;

  h1, h2, h3 {
    flex: 1;
    margin-bottom: 0;
  }

  .gm-link {
    color: var(--nav-link-color);

    &:hover {
      color: var(--nav-link-hover-color);
    }
  }
}
.section-container__bottom-link {
  padding: 1.5rem 0 2rem;
  display: flex;
  justify-content: center;

  .gm-link {
    color: var(--nav-link-color);

    &:hover {
      color: var(--nav-link-hover-color);
    }
  }
}

.event-card {
  display: block;
  position: relative;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid white;

  &:hover {
    border-color: rgba(0, 15, 58, 0.16);
    box-shadow: 0px 28px 17px rgba(0, 0, 0, .005),
      0px 12px 12px rgba(0, 0, 0, .01),
      0px 3px 7px rgba(0, 0, 0, .01),
      0px 0px 0px rgba(0, 0, 0, .01);
  }
}

.community-page {
  .community-intro, .community-menu {
    z-index: 180;
  }
  .community-details {
    z-index: 10;
  }


  .community-intro {
    padding: 1.25em 0;

    .gm-icon-ratings {
      color: var(--color-yellow-500);
      display: inline-block;
      /* font-size: 0.875em; */
      transform: translateY(-1px);
    }
  }
  .community-intro__title {
    padding-top: 1rem;
  }
  .community-intro__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    background-color: #ddd;
    aspect-ratio: 16 / 7;
    border-radius: 1rem;
  }
  .community-intro__attributes-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .community-intro__attribute {
    display: flex;
    color: var(--secondary-color-alpha);
    gap: 0.5rem;
  }
  /* .community-intro__attribute-label {} */
  .community-intro__primary-btn {
    display: none;
    margin-top: 1rem;
    border-radius: calc(0.625em + 0.5em);
    /* border-radius: 0.5rem !important; */
  }

  .community-menu {
    position: sticky;
    /* top: 3.375rem; */
    top: 54px; /* ?? guarantee header height?? */
    /* background: var(--bg-color); */
    border-top: 1px solid #ddd;
    padding: 0.875rem 0;
    z-index: 120;

    --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transition: var(--transition);

    &.has-border {
      background: white;
      /* border-bottom: 1px solid #ddd; */
    }
  }
  .community-menu__links-container {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 0 0.875rem;
  }
  .community-menu__link {
    color: var(--nav-link-color);

    &:hover {
      color: var(--nav-link-hover-color);
    }
  }
  .community-menu__actions-container {
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    /* margin: -0.25rem 0; */
  }
  .community-menu__primary-btn {
    /* display: block; */
    font-size: var(--font-size-base);
    line-height: var(--font-size-base);
    padding: 0.625em 1em;
    margin: -0.3125em 0;
    /* border-radius: 0.5em !important; */
    border-radius: calc(0.625em + 0.5em);
    /* border-radius: calc(var(--font-size-base)/2 + var(--link-btn-padding-vertical)); */
    min-width: 9em;
  }
  .community-menu__label {
    color: var(--quaternary-color-alpha);
  }


  .community-details {
    padding: 2rem 0 6rem;
  }
  .about-section { /* free html section */
  }
  .about-section__content {
    color: var(--secondary-color-alpha);

    h1, h2, h3, p {
      margin-bottom: 1em;
    }
  }

  .events-section {
    padding-top: 2em;
  }
  .events-section__events-container {
    padding-top: 1em;

    .event-card {
      padding-left: 1rem;
    }
  }
  .event-item {
    position: relative;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;

    &:last-child {
      padding-bottom: 0.5rem;
    }
  }
  .event-item__timeline-line {
    position: absolute;
    top: 1rem;
    left: 0.25rem;
    bottom: 0;
    border-left: 0.125rem dashed #112c590a;
  }
  .event-item__timeline-title {
    position: relative;
    top: 0;
    /* margin-left: -1.5rem; */
    margin-bottom: 0.875rem;
    transform: translateY(-0.125rem);
  }
  .event-item__timeline-datetime {}
  .event-item__timeline-part-date {
    color: var(--secondary-color-alpha);
    font-weight: 500;
    padding-right: 0.5rem;
  }
  .event-item__timeline-part-time {
    color: var(--tertiary-color-alpha);
  }
  .event-item__timeline-dot-wrapper {
    left: -23px;
    /* right: auto; */
    position: absolute;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .event-item__timeline-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--quaternary-color-alpha);
    border-radius: 100%;
  }

  .event-card__inner {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
  }
  .event-card__cover-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  .event-card__img-wrapper {
    position: relative;
    pointer-events: none;
    width: 160px;
    height: 160px;
    background: #112c590a;
    overflow: hidden;
    border-radius: 0.5rem;
  }
  .event-card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    background-color: #ddd;
  }
  .event-card__cover-details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .event-card__cover-title {
    margin: 0;
  }
  .event-card__cover-attributes {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .event-card__cover-attribute-row {
    display: flex;
    color: var(--tertiary-color-alpha);
    gap: 0.5rem;
  }
  /* .event-card__cover-attribute-label {
    padding-left: 0.5rem;
  } */
  .event-card__details {
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--secondary-color-alpha);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    font-size: 0.875rem;
  }
  .event-card__attendance-container {
    margin: 1.25rem 0 0.25rem;
    display: flex;
    align-items: center;
  }
  .event-card__attendees {
    flex: 1;
    display: flex;
    align-items: center;
  }
  .event-card__attendees-img-container {
    display: flex;
  }
  .event-card__attendee-img {
    width: 2rem;
    height: 2rem;
    /* min-width: 34px;
    min-height: 34px; */
    object-fit: cover;
    background-color: rgb(230, 230, 230);
    border: 1px solid white;
    border-radius: 100%;
    display: block;
    /* vertical-align: middle; */

    &:not(:first-child) {
      margin-left: -0.5rem;
    }
  }
  .event-card__attendees-label {
    padding: 0.25rem 0.5rem;
    color: var(--tertiary-color-alpha);
  }
  .event-card__actions-container {
    width: 160px;
  }
  .event-card__attend-btn {
    font-size: var(--font-size-base);
    line-height: var(--font-size-base);
    width: 100%;
    padding: 0.625em 1em;
    margin: -0.3125em 0;
    border-radius: 10rem !important;
  }


  /* .community-details__sidebar {
  } */
  .community-details__sidebar-sticky {
    position: sticky;
    top: calc(104px + 2rem); /* 104 = 2 menu heights */
  }
  .organizers-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
  }
  .organizers-details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .organizers-details__label {

  }
  .organizers-details__contact {
    display: flex;
    gap: 0.25rem;
    color: var(--nav-link-color);

    &:hover {
      color: var(--nav-link-hover-color);
    }
  }
  .members-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 2rem;
  }
  .member-item__member-img {
    width: 3.75rem;
    height: 3.75rem;
    /* min-width: 34px;
    min-height: 34px; */
    object-fit: cover;
    object-position: center center;
    background-color: #ddd;
    /* border: 1px solid white; */
    border-radius: 100%;
    display: block;
  }
}

@media (max-width: 960px) {
  .community-page {
    h1, .community-intro__title {
      font-size: 2rem;
    }
    .community-menu__actions-container,
    .community-details__sidebar {
      display: none;
    }
    .community-intro__title {
      padding-top: 0;
    }
    .community-intro__primary-btn {
      display: flex;
    }
  }
}
@media (max-width: 780px) {
  .community-page {
    h1, .community-intro__title {
      font-size: 1.75rem;
    }
    .community-menu__links-container {
      padding: 0;
      width: 100%;
      overflow: auto;
    }
    .event-cover__img-wrapper {
      width: 100px;
      height: 100px;
    }
    .event-attendances__actions-container {
      width: 100px;
    }
  }
}
@media (max-width: 420px) {
  .community-page {
    h1, .community-intro__title {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.25rem;
    }
    h3, .event-cover__title {
      font-size: 1.125rem;
    }
    .community-intro__attributes-container {
      font-size: 0.875rem;
      gap: 0.25em;
    }
    /* .event-cover__content {
      padding-bottom: calc(4.25em);
    } */
    .event-cover__attributes-container {
      font-size: 0.875rem;
    }
    /* .event__details {
      position: absolute;
      top: calc(100px + 1.75rem);
    } */
  }
}
