@import 'tailwindcss';
@import '../../../../globals.css';

.home-profile-fresh-communities {
  display: flex;
  flex-direction: column;

  .communities-grid {
    margin-left: 0;
    margin-right: 0;
  }
}
