@import 'tailwindcss';
@import '../../globals.css';

.buttons-group {
  @apply btn-half-white-grey;
  @apply courier-inline;
  @apply rounded-circle;
  font-size: var(--font-size-sm);
  color: var(--global-text);
  transition: background 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease, color 0.2s ease;
}

.buttons-group--selected {
  @apply btn-white-purple;
  @apply courier-inline;
  @apply rounded-circle;
  font-size: var(--font-size-sm);
  border: 1px solid var(--global-purple);
  transition: background 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease, color 0.2s ease;
}
