@import 'tailwindcss';
@import '../../globals.css';

.community-page {
  position: relative;
  z-index: theme(--z-index-page-content);
  padding-bottom: 2rem;
}

.community-page--unavailable {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--global-header-height) - 6rem);
}

.community-page--unavailable p {
  @apply heading-h2;
  color: var(--global-text-light);
  text-align: center;
}

/* .community-page__hero {
  padding: 0;
} */

.community-page__content {
  padding-top: 0.5rem;
}

.community-page__aside {
  display: flex;
  flex-direction: column;
}

.community-page__aside-spacer {
  height: 3rem;
}

@media (max-width: theme(--breakpoint-md)) {
  .community-page__aside-spacer {
    height: 1rem;
  }
}
