@import 'tailwindcss';
@import '../../globals.css';

.community-page {
  position: relative;
  z-index: theme(--z-index-page-content);
  padding-bottom: 2rem;
}

/* .community-page__hero {
  padding: 0;
} */

.community-page__content {
  padding-top: 0.5rem;
}

.community-page__aside {
  display: flex;
  flex-direction: column;
}

.community-page__join-btn {
  display: inline-flex;
  align-items: center;
  @apply btn-purple-white;
}

.community-page__my-membership-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  @apply btn-clear-grey;
}

.community-page__my-membership-btn-caret {
  position: relative;
  top: -0.0625rem;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.community-page__my-membership-btn-caret path {
  fill: currentColor;
}
