@import 'tailwindcss';
@import '../../globals.css';

.community-page {
  position: relative;
  z-index: theme(--z-index-page-content);
  padding-bottom: 2rem;
}

/* .community-page__hero {
  padding: 0;
} */

.community-page__content {
  padding-top: 0.5rem;
}

.community-page__aside {
  display: flex;
  flex-direction: column;
}
