@import 'tailwindcss';
@import '../../../../globals.css';

.interest-followers {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.interest-followers__title {
  @apply heading-h3;
  line-height: 1.4;
}
