@import 'tailwindcss';
@import '../../../../globals.css';

.events-filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.events-filters__title {
  margin: 0;
}

.events-filters__field {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  /* margin: 0 1rem; */
}

.events-filters__label {
  @apply heading-h3;
  margin: 0 0 0.25rem;
}

.events-filters__input {
  @apply text-input;
}

.events-filters__time-group {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
