@import 'tailwindcss';
@import '../../globals.css';

.event-card-horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  @apply card-style;
}

.event-card-horizontal__body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.375rem;
  min-width: 0;
  padding: 0.875rem 1rem 1.125rem;
}

.event-card-horizontal__title {
  margin: 0 0 0.25rem;
  color: var(--global-text);
  font-size: var(--font-size-md);
  font-weight: 500;
  line-height: 1.5;
  min-width: 0;
  @apply text-ellipsis;
}

.event-card-horizontal__row {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  min-width: 0;
  font-size: var(--font-size-sm);
  color: var(--global-text-muted);
  line-height: 1.5;
}

.event-card-horizontal__text {
  min-width: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-card-horizontal__icon {
  flex-shrink: 0;
  width: 1.125rem;
  height: 1.125rem;
}

.event-card-horizontal__icon--rating {
  color: var(--color-yellow-500);
}

.event-card-horizontal__image {
  width: 9rem;
  height: 9rem;
  flex-shrink: 0;
  object-fit: cover;
  background: #ddd;
}

.event-card-horizontal__attendees {
  display: flex;
  align-items: center;
  min-width: 0;
}

.event-card-horizontal__attendees-img-container {
  display: flex;
}

.event-card-horizontal__attendee-img {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  background-color: #e6e6e6;
  border: 1px solid white;
  border-radius: 100%;
  display: block;

  &:not(:first-child) {
    margin-left: -0.5rem;
  }
}

.event-card-horizontal__attendees-label {
  min-width: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0.375rem;
  font-size: var(--font-size-sm);
  color: var(--global-text-muted);
  line-height: 1.5;
}
