@import 'tailwindcss';
@import '../../../../globals.css';

.member-communities {
  padding-bottom: 2rem;

  .section-title {
    padding-top: 0;
  }
}

.member-communities__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0 0.75rem;
}

.member-communities__item {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  /* align-items: flex-start; */
}

.member-communities__engagement {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* gap: 0.125rem; */
  text-align: right;
  min-width: 8rem;
}

.member-communities__host,
.member-communities__star,
.member-communities__attended,
.member-communities__rejected,
.member-communities__banned,
.member-communities__pending {
  /* line-height: 1; */
  color: var(--global-text-light);
  font-family: 'Courier Prime', monospace;
  /* @apply courier-inline; */
  font-size: var(--font-size-sm);
}

.member-communities__host {
  font-weight: 700;
  color: var(--global-orange);
}
.member-communities__star {
  font-weight: 700;
  color: var(--global-purple);
}

.member-communities__rejected,
.member-communities__banned {
  font-weight: 700;
  color: #8b1a1a;
}

.member-communities__pending {
  font-weight: 700;
  color: var(--global-text-light);
}

.member-communities__empty {
  margin: 3rem 0 1rem;
  color: var(--global-text-light);
  font-size: var(--font-size-md);
  line-height: 1.5;
  text-align: center;
}
