@import 'tailwindcss';
@import '../../../../globals.css';

.interest-external-links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.interest-external-links__header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.interest-external-links__title {
  @apply heading-h3;
  /* line-height: 1.4;
  margin-top: 1rem; */
}

.interest-external-links__description {
  color: var(--global-text-muted);
  font-size: var(--font-size-sm);
  line-height: 1.5;
  margin: 0 1rem;
}

.interest-external-links__list {
  list-style: disc;
  margin: 0;
  padding-left: 1.25rem;
  margin-top: 1rem;
}

.interest-external-links__list-item {
  margin: 0;
}

.interest-external-links__list-item + .interest-external-links__list-item {
  margin-top: 0.25rem;
}

.interest-external-links__list-item::marker {
  color: var(--global-text-light);
}

.interest-external-links__link {
  display: block;
  color: var(--global-link-blue);
  line-height: 1.5;
  text-decoration: none;
}

.interest-external-links__input-container {
  margin-top: 1rem;
  position: relative;
  outline: none;
}

.interest-external-links__input-extra {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease, max-height 0.2s ease;
}

.interest-external-links__input-container:focus-within {
  .interest-external-links__input-extra {
    max-height: 6rem;
    margin-top: 0.5rem;
    opacity: 1;
    visibility: visible;
  }
  .interest-external-links__input--url {
    background: white;
  }
}

.interest-external-links__input {
  @apply text-input;
  font-family: inherit;
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-md);
}

.interest-external-links__submit {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  @apply btn-purple-white;
  font-size: var(--font-size-sm);
}
