@import 'tailwindcss';
@import '../../../../globals.css';

.events-section {
  position: relative;
  z-index: theme(--z-index-events-section);
  scroll-margin-top: var(--global-header-height);
}

.events-section__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem 1.5rem;
  margin: 0 1rem 1rem;

  > :nth-child(n + 13) {
    display: none;
  }
}

@media (max-width: theme(--breakpoint-lg)) {
  .events-section__grid {
    grid-template-columns: repeat(3, 1fr);

    > :nth-child(n + 10) {
      display: none;
    }
  }
}

@media (max-width: theme(--breakpoint-md)) {
  .events-section__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;

    > :nth-child(n + 9) {
      display: none;
    }
  }
}

@media (max-width: theme(--breakpoint-sm)) {
  .events-section__grid {
    grid-template-columns: 1fr;

    > :nth-child(n + 6) {
      display: none;
    }
  }
}
