@import 'tailwindcss';

.followed-interests {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.followed-interests__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.followed-interests__title {
  margin: 0;
  /* color: var(--global-text-light); */
  /* font-family: 'Courier Prime', monospace; */
}

.followed-interests__count {
  color: var(--global-text-light);
  font-family: 'Courier Prime', monospace;
  font-size: 1.125rem;
  line-height: 1.4;
}

.followed-interests__content {
  margin: 0rem 1rem 1rem;
}

.followed-interests__description {
  color: var(--global-text-muted);
  font-size: var(--font-size-sm);
  line-height: 1.5;
}

.followed-interests__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.25rem 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.followed-interests__list-item {
  display: block;
  margin: 0;

  &:hover {
    .followed-interests__list-link {
      animation: hover-wiggle 1.2s infinite;
    }
  }
}

.followed-interests__list-link {
  display: block;
  color: var(--global-link-blue);
  font-family: 'Courier Prime', monospace;
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 2;
}
