@import 'tailwindcss';
@import '../../globals.css';

.event-timeline {
  padding: 0.25rem 0 0;
}

.event-timeline__item {
  position: relative;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;

  &:last-child {
    padding-bottom: 0.5rem;
  }

  .event-card-horizontal {
    margin-left: 0.25rem;
  }
}

.event-timeline__item-line {
  position: absolute;
  top: 1rem;
  left: 0.25rem;
  bottom: 0;
  border-left: 0.125rem dashed var(--light-shadow);
}

.event-timeline__item-header {
  position: relative;
  margin-bottom: 0.875rem;
  transform: translateY(-0.125rem);
}

.event-timeline__item-datetime {
  padding-top: 0.125rem;
  font-family: 'Courier Prime', monospace;
  font-size: var(--font-size-sm);
}
.event-timeline__item-label-primary {
  color: var(--global-text);
  font-weight: 500;
}

.event-timeline__item-year {
  color: var(--global-text-muted);
}

.event-timeline__item-dot-wrapper {
  position: absolute;
  left: -1.4375rem;
  top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-timeline__item-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--global-text-light);
  border-radius: 100%;
}
