@import 'tailwindcss';

.interests-page {
  position: relative;
  z-index: 1;
  padding-bottom: 2rem;
}

.interests-page__heading {
  margin: 0.75rem 0 0.75rem;
  /* color: var(--home-section-title); */
  /* font-family: 'Cabin Sketch', cursive; */
  /* font-size: 1.5rem; */
  /* font-weight: 400; */
  /* line-height: 1.4; */
}
