#home-top {
  scroll-margin-top: calc(var(--global-header-height) + var(--home-hero-height));
}

.home__entry-cover {
  --home-entry-cover-height: var(--home-hero-height);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 202;
  height: var(--home-entry-cover-height);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  background: white url('/assets/bg-transparent-cream-paper.png');
  background-size: 150px 150px;
  border-bottom: 1px solid var(--home-section-border);
  padding: 0 0 1rem;
  box-sizing: border-box;
  transition: transform 1.2s cubic-bezier(.3,.8,.4,.9);

  &.home-page--entry-revealed1 {
    transform: translateY(calc(-1 * var(--home-entry-cover-height) + 4px));

    .home__entry-logo-image {
      opacity: 0;
      filter: blur(12px);
      animation: none;
    }    
  }

  &.home-page--entry-revealed3 {
    display: none;
  }
}

.home__entry-logo-image {
  width: 100%;
  height: 60px;
  background: url('/assets/logo-socially.png') center center / contain no-repeat;
  animation: hover-wiggle 1.2s infinite;
  -webkit-filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, 0.5)) drop-shadow(0 1px 0 rgba(255, 255, 255, 1));
  filter: drop-shadow(0 -1px 0 rgba(0, 0, 0, 0.5)) drop-shadow(0 1px 0 rgba(255, 255, 255, 1));
  transition: all 0.6s ease-out;
}

/* entry animations */
.home-page {
  .interests-section,
  .events-section,
  .why-socially-section,
  .about-section,
  .layout-footer {
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease-out;
  }

  &.home-page--entry-revealed1 {
    .interests-section,
    .events-section,
    .why-socially-section,
    .about-section,
    .layout-footer {
      display: block;
    }
  }

  &.home-page--entry-revealed2 {
    .interests-section,
    .events-section,
    .why-socially-section,
    .about-section,
    .layout-footer {
      opacity: 1;
    }
  }
}
