@import 'tailwindcss';
@import '../../../../globals.css';

.community-organisers {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0;
}

.community-organisers__title {
  @apply heading-h3;
}

.community-organisers__content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.community-organisers__avatar {
  width: 3.75rem;
  height: 3.75rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 100%;
  /* background: #ddd; */
}

.community-organisers__details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: var(--font-size-md);
  line-height: 1.5;
}

.community-organisers__contact {
  align-self: flex-start;
  align-items: center;
  gap: 0.375rem;
  color: var(--global-link-blue);
  @apply wiggle-link;
  display: inline-flex;
}

.community-organisers__contact-icon {
  width: 1rem;
  height: 1rem;
}